@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*{
  margin:0;
  padding:0
}
button{
  outline:none
}
html{
  box-sizing:border-box
}
body{
  padding:3.2rem 2.4rem
}
@media (min-width:768px){
  body{
    padding-left:4.8rem;
    padding-right:4.8rem
}
}
*,:after,:before{
  box-sizing:inherit
}
html{
  font-size:62.5%
}
body{
  overflow-wrap:break-word;
  word-break:break-word;
  word-wrap:break-word;
  -webkit-font-smoothing:antialiased
}
body,button,input{
  color:#333;
  font-family:Lato,Helvetica Neue,Helvetica,Arial,"sans-serif";
  font-size:1.8rem;
  line-height:1.6
}
a{
  border-bottom:.2rem solid rgba(51,51,51,.4);
  color:currentColor;
  text-decoration:none;
  transition:border-bottom-color .15s ease
}
a:hover{
  border-bottom-color:#333;
  color:#333
}
.button{
  background:#333;
  border:none;
  border-radius:3px;
  color:#fff;
  cursor:pointer;
  display:block;
  font-weight:600;
  padding:1.2rem 1.6rem;
  width:100%
}
.button:hover{
  background-color:#000
}
.error{
  padding:12vh 0;
  text-align:center
}
.error h1{
  color:#000;
  font-size:4rem;
  font-weight:900;
  line-height:1.2;
  margin:0 0 3.2rem
}
.error p{
  margin:3.2rem 0
}
.flash{
  font-size:1.7rem;
  margin:2.4rem 0;
  padding:1.2rem;
  text-align:center
}
.flash-error{
  background:#fdecea;
  color:#611a15
}
.form{
  margin:auto;
  max-width:36rem
}
.textfield{
  border:1px solid #bdbdbd;
  border-radius:3px;
  display:block;
  margin:2.4rem 0;
  padding:1.2rem;
  width:100%
}
.textfield:focus{
  outline-color:#333
}
.page-footer{
  color:#999;
  text-align:center
}
.page-footer-about{
  font-size:1.5rem
}
.page-footer-about a{
  border-bottom-color:transparent;
  color:#666
}
.page-footer-about a:hover{
  border-bottom-color:#333
}
.page-footer-brand{
  margin-top:1.6rem
}
.page-footer-brand a{
  border:none;
  color:#999;
  font-size:1rem;
  letter-spacing:.2rem;
  text-transform:uppercase;
  transition:color .15s ease
}
.page-footer-brand a:hover{
  color:#2b71ca
}
.page-header{
  align-items:center;
  display:flex;
  flex-direction:column
}
@media (min-width:768px){
  .page-header{
    flex-direction:row;
    justify-content:space-between
}
}
.page-header a{
  border-bottom-color:transparent
}
.page-header a:hover{
  border-bottom-color:#333
}
.page-header-title{
  color:#000;
  font-size:2rem;
  font-weight:900;
  line-height:1.4;
  margin-bottom:1.6rem;
  text-align:center
}
@media (min-width:768px){
  .page-header-title{
    margin-bottom:0
}
}
.page-header-nav{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  list-style:none
}
.page-header-nav-item{
  font-size:1.6rem;
  font-weight:700;
  margin:0 1.2rem
}
@media (min-width:768px){
  .page-header-nav-item{
    margin:0 0 0 4rem
}
}
.page-header-nav-item a{
  color:#666
}
.page-main{
  margin:12vh auto 14vh;
  max-width:64rem
}
.page-main-center{
  left:50%;
  padding-bottom:10rem;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:100%
}
.pagination{
  border-top:1px solid #eee;
  color:#666;
  display:flex;
  justify-content:space-between;
  list-style:none;
  padding-top:2.4rem
}
.pagination a{
  border-bottom-color:transparent
}
.pagination a:hover{
  border-bottom-color:#333
}
.post-info{
  color:#999;
  font-size:1.2rem;
  letter-spacing:.2rem;
  margin:0 0 1.6rem;
  text-transform:uppercase
}
.post-tags:before{
  content:"/";
  margin:0 .8rem
}
.post-tag+.post-tag:before{
  content:"·";
  margin:0 .2rem
}
.post-tag a{
  border-bottom-color:transparent
}
.post-tag a:hover{
  border-bottom-color:#333
}
.post-title{
  color:#000;
  font-size:4rem;
  font-weight:900;
  line-height:1.2;
  margin:0 0 3.2rem
}
.post-featured-image{
  margin-left:-2.4rem;
  margin-right:-2.4rem
}
@media (min-width:768px){
  .post-featured-image{
    margin-left:-8rem;
    margin-right:-8rem
}
}
.post-featured-image img{
  display:block;
  width:100%
}
.post-body blockquote,.post-body figure,.post-body ol,.post-body p,.post-body ul{
  margin:3.2rem 0
}
.post-body ol,.post-body ul{
  margin-left:2.4rem
}
.post-body li,.post-body p{
  font-family:Georgia,Times,Times New Roman,"serif";
  font-size:2rem;
  letter-spacing:.01rem
}
.post-body code,.post-body pre{
  background:#eee;
  font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier;
  font-size:smaller
}
.post-body blockquote{
  border-left:.8rem solid #eee;
  color:#666;
  font-style:italic;
  padding:0 3.2rem
}
.post-body blockquote em{
  font-style:normal
}
.post-body figcaption{
  color:#666;
  font-size:1.5rem;
  margin:1.2rem 2.4rem;
  text-align:center
}
@media (min-width:768px){
  .post-body figcaption{
    margin-left:0;
    margin-right:0
}
}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{
  color:#000;
  line-height:1.2
}
.post-body h1,.post-body h1 strong,.post-body h2,.post-body h2 strong,.post-body h3,.post-body h3 strong,.post-body h4,.post-body h4 strong,.post-body h5,.post-body h5 strong,.post-body h6,.post-body h6 strong{
  font-weight:900
}
.post-body h1{
  font-size:3.2rem;
  margin:5.6rem 0 3.2rem
}
.post-body h2{
  font-size:2.4rem;
  margin:4.8rem 0 3.2rem
}
.post-body h3{
  font-size:2rem;
  margin:4rem 0 3.2rem
}
.post-body h4,.post-body h5,.post-body h6{
  font-size:1.8rem;
  margin:4rem 0 3.2rem
}
.post-body hr{
  border:none;
  height:1.6rem;
  margin:4.8rem 0;
  position:relative
}
.post-body hr:before{
  color:#999;
  content:"\00B7\00A0\00A0\00B7\00A0\00A0\00B7";
  font-family:Georgia,Times,Times New Roman,"serif";
  font-size:3.2rem;
  left:50%;
  line-height:3.2rem;
  position:absolute;
  margin-top:-.2rem;
  top:50%;
  transform:translateX(-50%) translateY(-50%)
}
.post-body li p{
  margin:1.2rem 0 1.2rem .4rem
}
.post-body pre{
  line-height:1.5;
  overflow-x:auto;
  padding:1.6rem
}
.post-body code{
  padding:.4rem;
  word-wrap:break-word
}
.post-body .embed-container{
  display:flex;
  justify-content:center
}
.post-body .embed-container>iframe{
  position:relative!important
}
.post-body .responsive-embed-container{
  overflow:hidden;
  position:relative
}
.post-body .responsive-embed-container>iframe{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%
}
.post-body .image img{
  display:block;
  margin:auto;
  max-width:100%
}
.post-comments{
  margin-top:6.4rem
}
.posts-item{
  margin:0 0 9.6rem
}
.posts-item-info{
  margin-bottom:.8rem
}
.posts-item-title{
  font-size:2.6rem;
  line-height:1.4;
  margin:0 0 1.6rem
}
.posts-item-title a{
  border-bottom-color:transparent
}
.posts-item-title a:hover{
  border-bottom-color:#333
}
.posts-item-featured-image{
  margin:0 0 1.6rem
}
.posts-item-intro{
  font-family:Georgia,Times,Times New Roman,"serif";
  font-size:2rem;
  letter-spacing:.01rem
}
.posts-item-more{
  display:inline-block;
  margin:1.6rem 0 0
}
.posts-item-more a{
  border-bottom-color:transparent;
  color:#666;
  font-size:1.6rem
}
.posts-item-more a:hover{
  border-bottom-color:#333
}
.root-header{
  margin:0 auto 9.6rem
}
.root-header-avatar{
  border-radius:50%;
  display:block;
  height:12rem;
  margin:0 auto 2.4rem;
  width:12rem
}
.root-header-description{
  color:#666;
  font-size:2.2rem;
  margin:auto;
  max-width:80%;
  text-align:center
}
.tags-list{
  display:grid;
  grid-gap:1.6rem;
  grid-template-columns:repeat(1,1fr);
  list-style:none
}
@media (min-width:768px){
  .tags-list{
    grid-template-columns:repeat(3,1fr)
}
  .tags-list[data-count="1"]{
    grid-template-columns:repeat(1,1fr)
}
  .tags-list[data-count="2"]{
    grid-template-columns:repeat(2,1fr)
}
}
.tags-item{
  margin:0 1.6rem 3.2rem;
  text-align:center
}
.tags-item-name{
  color:#000;
  font-size:2rem;
  font-weight:900
}
.tags-item-name a{
  border-bottom-color:transparent
}
.tags-item-name a:hover{
  border-bottom-color:#333
}
.tags-item-info{
  color:#999;
  font-size:1.5rem
}
.center{
  text-align:center
}
.h1{
  color:#000;
  font-size:4rem;
  font-weight:900;
  line-height:1.2;
  margin:0 0 9.6rem
}
.subheading{
  color:#666;
  margin-bottom:3.2rem;
  margin-top:-8.6rem
}
